.list textarea {
    height: 28px;
    width: 90%;
}
.list textarea:focus {
    outline: none;
}
textarea::-webkit-scrollbar {
    width: 1em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
} 

textarea::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: transparent;
}
textarea::-webkit-resizer {
    border-width: 3px;
    border-style: solid;
    border-color: transparent rgba(17, 139, 158, 0.918) rgba(17, 139, 158, 0.918) transparent;
    background-color: rgb(19,163,184);
  }