@media screen and (min-width: 768px) {
  .vote-box {
    height: 92vh;
    width: 25%;
  }
  .vote-context {
    height: 100%;
  }
  .answer-box {
    height: 42px;
  }
  .btn-vote {
    align-self: end;
  }
}
