.btn-vote button {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .vote-box {
    height: 95vh;
    width: 25%;
  }
  .vote-context {
    height: 85vh;
  }
  .answer-box {
    height: 42px;
  }
  .btn-vote {
    align-self: flex-end;
  }
}
